/* Style for the entire body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../img/paper.webp'); /* Path to the background image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Makes the background image fixed when scrolling */
    background-position: center; /* Centers the background image */
    background-color: #f0f0f0; /* Fallback color */
}

/* Style for the button */
button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 15px 30px;
    font-size: 1.6em;
    color: white;
    background-color: rgb(54, 157, 241);
    border: 2px solid #007ACC;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #007ACC;
    transform: scale(1.05);
}

/* Style for the insult container */
#insultContainer {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    display: block;
    width: 50%;
    font-size: 1.5em;
    font-family: cursive;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #007ACC; /* Blue border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the GIF container */
#gifContainer {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    display: block;
    width: 50%;
}

/* Style for the images */
.gif {
    margin: 10px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Center container elements */
.container {
    text-align: center;
    border: 1px solid #007ACC; /* Blue border */
    margin-bottom: 10px;
    padding: 10px;
}

.container img {
    max-width: 100%;
    height: auto;
}